/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color Pallette Selector */
:root {
    --light-gray: #a6b5c5;
    --slate: #31343a;
    --dark-blue: #0a1a3e;
}

body {
    background-color: var(--light-gray);
    font-family: Helvetica, Arial, sans-serif;
}

/* Header/Nav Styles */
header {
    padding: 20px 0px;
    background-color: var(--slate);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color: var(--slate);
    background-color: rgba(166,181,197,.7);
    padding-left: 60px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 3px 3px 5px var(--dark-blue);
}

header h1 a {
    text-decoration: none;
    color: var(--slate);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: right;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: var(--light-gray);
}

nav {
    margin-top: 44px;
}

/* Hero Styles fix opacity/gradient/blue hero thing*/
.hero {
    background-image: url("../images/hero-bg.jpg"), linear-gradient(-45deg, var(--slate), var(--light-gray));
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 10px 20px;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    background-blend-mode: soft-light;
}

.hero-header {
    font-weight: bold;
    font-size: 20px;
    color: var(--slate);
    background-color: rgba(166,181,197,.5);
    margin: 100px 0 10px 0;
    box-shadow: 3px 3px 5px var(--dark-blue);
    padding: 5px;
}

/* Section Title Styles */
.section-title {
    font-weight: bold;
    font-size: 30px;
    color: var(--slate);
    border-right: 3px solid;
    text-align: right;
} 

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.parent-column1 {
    display: flex;
    flex-direction: column;
    flex: 1 30%;
}

.parent-column2 {
    display: flex;
    flex-direction: column;
    flex: 2 70%;
}

/* About Me Section Styles */
.bio {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

/* Work Container Grid Styles */
.work-grid-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap:10px;
    grid-auto-flow: dense;
    border: 3px solid var(--light-gray);
    color: var(--dark-blue);
}

.work-grid-item {
    border: 2px solid var(--light-gray);
    display: flex;
    align-items: flex-end;
    justify-content: left;
    background-color: white;
}

.site-1 {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
    background-image: url("../images/portfolio-1.jpg");
}

.site-2 {
    background-image: url("../images/portfolio-2.jpg");
}

.site-3 {
    background-image: url("../images/portfolio-3.jpg");
}

.site-4 {
    background-image: url("../images/portfolio-4.jpg");
}

.site-5 {
    background-image: url("../images/run-buddy.jpg");
}

.site-6 {
    background-image: url("../images/run-buddy.jpg");
}


/* Contact Me Styles */
.contact-links ul li {
    display: inline;
    margin: 20px 20px;
}